# Ignore node_modules
node_modules/
frontend/node_modules/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Environment Variables (CRITICAL)
.env

# Ignore Local Databases & Backups (CRITICAL)
user_backups.csv

# Ignore Local Test Outputs / Temporary files
test_out.txt
test_ddgs.py
test_domain_verifier.py
test_native_ddg.py
test_tiny.py
debug_output.txt
debug_typo.py

# Ignore security sensitive setup scripts
create_admin.py
promote_admin.py

# Ignore executables and large data files
ngrok.exe
dark_pattern_model.pkl
training_data.tsv
valid_domains.csv
valid_domain/

# Ignore Chrome Extension
chrome_extension/
